!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Instructify
    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_include_tag "application", "data-turbo-track": "reload", defer: true
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.css"}
    %script{src: "https://cdn.jsdelivr.net/gh/jerosoler/Drawflow/dist/drawflow.min.js"}
    = yield :head
  %body{data: { theme: 'dark' }}
    = render "shared/navbar"
    %main
      = render "shared/header"
      .container-fluid
        = yield
        = turbo_frame_tag "modal", target: "_top"