.container
  %div.blog-body
    = image_tag @node_detail.blog_image
    %h1.blog-title.fw-bold= @node_detail.title
    %p.blog-description= @node_detail.description
  %hr
    %div.related-posts
      %h2 Related posts
      %div.row.d-flex
        - @roadmap.nodes.limit(3).each do |node|
          %div.col-4
            %div.border.p-4
              %img{ src: "/images/#{@node_detail.blog_image}", alt: "image" }
              %h4.blog-title= node.title
              %p.blog-description= truncate(node.description, length: 100)
              %div.view-more
                = link_to "More", admin_roadmap_node_path(@roadmap, node), class: "nav-link"
    
      
